@import '../../sass/abstracts/_mixins.scss';
@import '../../sass/abstracts/_vars.scss';

.catalogWrapper {
    display: flex;
    justify-content: space-between;
}

.optionsWrap {
    flex-basis: 25%;
}




















