@import '../../sass/abstracts/vars';

.tableRow {
    vertical-align: top;
    border-bottom: 1px black solid;


    .cellAdress {
        font-size: 16px;
        padding-right: 81px;
    }

    .cellWorkHours {
        font-family: 'SFProRegular';
        padding-right: 96px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;

        .weekdaysWorkHours {
            display: flex;

            .weekdayworkDays {
                margin-right: 21px;
            }
        }


        .weekendWorkHours {
            display: flex;

            .weekendWorkDays {
                margin-right: 46px;
            }
        }


    }


    .cellAvailability {
        padding-right: 117px;
    }









    .cellBtn {
        display: flex;
        border: 2px red solid;

        .btn {
            border: 0;
            color: #FFFFFF;
            background-color: #1C62CD;
            font-size: 13px;
            min-height: 35px;
            align-self: end;
            padding: {
                top: 0;
                bottom: 0;
                right: 40px;
                left: 41px;
            }

            ;
        }
    }
}