@import '../../sass/abstracts/vars';
@import '../../sass/abstracts/mixins';
@import '../../sass/basis/fonts';


.tableRow {
    position: relative;
    border-bottom: 1px solid #2F3035;
    max-width: 100%;
    margin-bottom: 20px;

    &__list {
        display: flex;
        margin-bottom: 20px;

        li {
            @include font('IBM Plex Sans', $colorTitle, 14px);
            font-weight: 400;
        }

        .adress {
            max-width: 300px;
            width: 100%;
        }

        .workHours {
            max-width: 253px;
            width: 100%;

            .workHoursWeekdays {
                display: flex;


                .weekdays {
                    margin-right: 21px;
                }
            }

            .weekend {
                display: flex;

                .weekendDays {
                    margin-right: 43px;
                }
            }
        }

        .available {
            max-width: 204px;
            width: 100%;
        }

    }

    .btnCell {
        position: absolute;
        right: 0;
        top: -2px;

        .btn {
            min-height: 35px;
            padding: 0px 40px;
            background-color: $secondaryColor;
            border: none;
            color: white;
            border-radius: 3px;
        }
    }
}