@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/vars';
@import '../../sass/basis/fonts';

.table{
    width: 100%;
    .top{
        .topRow{
            display: grid;
            grid-template-columns: 300px 253px 204px 104px 60px;
            .cell{
                text-align: left;
                @include font ('IBM Plex Sans', $colorTitle, 20px);
            }
        }
    }
}