@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/vars';


.card {
    @include flex(center,center);
    flex-direction: column;
    width: 271px;
    height: 403px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    position: relative;
    border: 1px solid #E0E0E0;
    transition: 0.3s;
    &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    }
}
.actionCard {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 61px;
    opacity: 0.9;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    top: 30%;
    &Text {
        @include font ('IBM Plex Sans', $colorTitle, 20px);
        font-weight: 400;
    }
}
.card:hover > .actionCard {
    visibility: visible;
}
.cardImg {
    margin-bottom: 25px;
}
.card:nth-child(3), .card:nth-child(6), .card:nth-child(9), .card:nth-child(12){
    margin-right: 0px;
}
.card:nth-child(10), .card:nth-child(11), .card:nth-child(12) {
    margin-bottom: 0px;
}

.btnLike {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background-color: transparent;
}

.btnCount {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    padding: 7px 17px 9px 15px;
}

.cardSticker{
    background: #1C62CD;
    color: white;
    padding: 6px 15px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cardLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 260px;
}
.cardText {
    text-align: center;
    @include font ('IBM Plex Sans', $colorTitle, 18px);
    font-weight: 400;
    max-width: 250px;
}
.cardNonAvailable {
    @include flex (center, center);
    flex-direction: column;
    &Link {
        @include font ('IBM Plex Sans', $secondaryColor, 16px);
        font-weight: 400;
        text-decoration: underline;
        position: relative;
        width: 190px;
        top: 15px;
    }
    &Text {
        @include font ('IBM Plex Sans', $colorTitle, 18px);
        font-weight: 700;
    }
}

.cardPrice {
    @include font ('Barlow', $colorTitle, 30px);
    font-weight: 700;
    text-align: center;
}




.sizeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
}

