/* 100: Thin;
200: Extra Light (Ultra Light);
300: Light;
400: Normal;
500: Medium;
600: Semi Bold (Demi Bold);
700: Bold;
800: Extra Bold (Ultra Bold);
900: Black (Heavy). */

$font-path: '../../assets/fonts/';


@font-face{
    font-family: 'BarlowBold';
    src: url('#{$font-path}/Barlow-Bold.eot');
    src: local('BarlowBold'),
        url('#{$font-path}/Barlow-Bold.eot') format('embedded-opentype'),
        url('#{$font-path}/Barlow-Bold.woff2') format('woff2'),
        url('#{$font-path}/Barlow-Bold.woff') format('woff'),
        url('#{$font-path}/Barlow-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'SFProDisplayRegular';
    src: url('#{$font-path}/SFProDisplay-Regular.eot');
    src: local('SFProDisplayRegular'),
        url('#{$font-path}/SFProDisplay-Regular.ttf') format('truetype'),
        url('#{$font-path}/SFProDisplay-Regular.woff2') format('woff2'),
        url('#{$font-path}/SFProDisplay-Regular.woff') format('woff'),
        url('#{$font-path}/SFProDisplay-Regular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;

}

@font-face{
    font-family: 'SFProDisplayBold';
    src: url('#{$font-path}/SFProDisplay-Bold.eot');
    src: local('SFProDisplayBold'),
        url('#{$font-path}/SFProDisplay-Bold.ttf') format('truetype'),
        url('#{$font-path}/SFProDisplay-Bold.woff2') format('woff2'),
        url('#{$font-path}/SFProDisplay-Bold.woff') format('woff'),
        url('#{$font-path}/SFProDisplay-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;

}

@font-face{
    font-family: 'BarlowRegular';
    src: url('#{$font-path}/Barlow-Regular.eot');
    src: local('BarlowRegular'),
        url('#{$font-path}/Barlow-Regular.ttf') format('truetype'),
        url('#{$font-path}/Barlow-Regular.woff2') format('woff2'),
        url('#{$font-path}/Barlow-Regular.woff') format('woff'),
        url('#{$font-path}/Barlow-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'SFProDisplaySemibold';
    src: url('#{$font-path}/SFProDisplay-Semibold.eot');
    src: local('SFProDisplaySemibold'),
        url('#{$font-path}/SFProDisplay-Semibold.ttf') format('truetype'),
        url('#{$font-path}/SFProDisplay-Semibold.woff2') format('woff2'),
        url('#{$font-path}/SFProDisplay-Semibold.woff') format('woff'),
        url('#{$font-path}/SFProDisplay-Semibold.eot') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;

}

@font-face{
    font-family: 'SFProDisplayMedium';
    src: url('#{$font-path}/SFProDisplay-Medium.eot');
    src: local('SFProDisplayMedium'),
        url('#{$font-path}/SFProDisplay-Medium.ttf') format('truetype'),
        url('#{$font-path}/SFProDisplay-Medium.woff2') format('woff2'),
        url('#{$font-path}/SFProDisplay-Medium.woff') format('woff'),
        url('#{$font-path}/SFProDisplay-Medium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;    

}

@font-face{
    font-family: 'ProximaNovaBold';
    src: url('#{$font-path}/ProximaNova-Bold.eot');
    src: local('ProximaNovaBold'),
        url('#{$font-path}/ProximaNova-Bold.ttf') format('truetype'),
        url('#{$font-path}/ProximaNova-Bold.woff2') format('woff2'),
        url('#{$font-path}/ProximaNova-Bold.woff') format('woff'),
        url('#{$font-path}/ProximaNova-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;    

}

@font-face{
    font-family: 'BarlowLight';
    src: url('#{$font-path}/Barlow-Light.eot');
    src: local('BarlowLight'),
        url('#{$font-path}/Barlow-Light.ttf') format('truetype'),
        url('#{$font-path}/Barlow-Light.woff2') format('woff2'),
        url('#{$font-path}/Barlow-Light.woff') format('woff'),
        url('#{$font-path}/Barlow-Light.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;    
    
}

@font-face{
    font-family: 'BarlowSemiBold';
    src: url('#{$font-path}/Barlow-SemiBold.eot');
    src: local('BarlowSemiBold'),
        url('#{$font-path}/Barlow-SemiBold.ttf') format('truetype'),
        url('#{$font-path}/Barlow-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/Barlow-SemiBold.woff') format('woff'),
        url('#{$font-path}/Barlow-SemiBold.eot') format('embedded-opentype');
    font-weight: 600;
    font-style: normal;    

}
