@import '../../sass/abstracts/vars';
@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/functions';


.product {
    $product: &;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    @media screen and (max-width: 1190px){
        padding: {
            top: 0px;
            bottom: 0px;
            right: 20px;
            left: 20px;
        }
    }



    .breadCrumbs {
        margin-bottom: 36px;
    }


    .describtion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);

        


        .card {
            grid-area: 1/1/4/2;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 116px;
            position: relative;

            padding: {
                top: 64px;
                bottom: 0px;
                right: 0px;
                left: 0px;
            };

            @media screen and (max-width: 988px) {
                grid-area: 3/1/6/3;
                margin-right: 0;
                padding-top: 0;
            }


            .imgContainer {


                .sticker {
                    position: absolute;
                    top: 0;
                    left: 0;

                    @media screen and(max-width: 988px){
                        display: none;                        
                    }

                    padding: {
                        top: 13px;
                        bottom: 13px;
                        right: 26px;
                        left: 26px;
                    }

                    ;
                    background-color: $secondaryColor;
                    border-radius: 3px;
                    letter-spacing: 2px;
                    @include font('IBM Plex Sans', #FFFFFF, 15px);
                }

                .img{                   

                    @media screen and (max-width: 516px) {
                    max-width: 500px;
                    width: 100%;
                    max-height: 579px;
                    height: 100%;
                    }
                }
            }

            .purchase {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 17px;

                .priceOld {
                    @include font('Barlow', #000000, 30px);
                    position: relative;

                    &::before {
                        content: '';
                        background-color: #2F3035;
                        width: 140px;
                        height: 2px;
                        position: absolute;
                        top: 20px;
                        left: 10px;
                        transform: rotate(390grad);

                    }
                }

                .priceDiscount {
                    @include font('Roboto', $colorTitle, 40px);

                    margin: {
                        top: 6px;
                        bottom: 17px;
                        right: 0;
                        left: 0;
                    }
                }

                .link {
                    @include font('IBM Plex Sans', $secondaryColor, 15px);
                }
            }
        }






        .productCode {
            display: flex;
            flex-direction: column;
            grid-area: 1/2/2/3;

            @media screen and (max-width: 988px) {
                grid-area: 1/1/2/3;
            }

            margin: {
                top: 10px;
                bottom: 22px;
                right: 0;
                left: 0;
            }

            ;

            .title {
                @include font('IBM Plex Sans', $colorTitle, 30px);
                font-weight: 700;
                line-height: 35.8px;
                max-width: 570px;
                width: 100%;
                margin-bottom: 10px;

                @media screen and (max-width: 988px) {
                    max-width: none;
                }
            }

            .codeBox {
                .code {
                    margin-right: 8px;
                    @include font('IBM Plex Sans', $colorText, 15px);
                }

                .codeNumber {
                    @include font('IBM Plex Sans', $colorText, 15px);
                }
            }
        }

        .buttons {
            margin-bottom: 50px;
            grid-area: 2/2/3/3;

            @media screen and (max-width: 988px) {
                grid-area: 2/1/3/3;
            }

            .btnsList {
                display: flex;
                align-items: center;

                .listItem {
                    margin-right: 30px;

                    .like {
                        background-color: transparent;
                        border: none;
                    }

                    .raiting {
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }




        .characteristics {
            display: flex;
            flex-direction: column;
            grid-area: 3/2/4/3;

            @media screen and (max-width: 988px) {
                grid-area: 6/1/7/3;
                max-width: 988px;
                width: 100%;
                
            }

            @media screen and (max-width:480px) {
                display: none;
            }

            .linksWrapper {
                margin: {
                    top: 0px;
                    bottom: 20px;
                    right: 0;
                    left: 0;
                };

                @media screen and (max-width: 988px) {
                    margin-top: 40px;
                }

                .list {
                    display: flex;

                    .item {
                        margin-right: 34px;
                        @include font('IBM Plex Sans', #FFFFFF, 20px);
                        font-weight: 400;

                        

                        &:first-child {
                            font-weight: 700;
                            border-bottom: 2px solid #1C62CD;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        .link {
                            font-size: 20px;

                            @media screen and (max-width: 1059px) {
                                font-size: 18px;
                            }
                            @media screen and (max-width:1024px) {
                                font-size: 16px;
                            }

                            @media screen and (max-width:988px) {
                                font-size: 20px;
                            }

                        }
                    }
                }

            }

            .rows {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media screen and (max-width: 988px) {
                    max-width: 988px;
                    width: 100%;
                }

                

                


                .item {
                    @include font('IBM Plex Sans', $colorTitle, 20px);
                    font-weight: 400;

                    @media screen and (max-width: 1059px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width:1024px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width:988px) {
                        font-size: 20px;
                    }

                    padding: {
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                    }

                    margin: {
                        top: 0px;
                        bottom: 0px;
                        right: 0;
                        left: 0;
                    }

                    ;

                    &:first-child {
                        max-width: 281px;
                        width: 100%;
                        margin-right: 30px;

                        @media screen and(max-width: 988px) {
                            max-width: 300px;
                            margin-right: 0px;
                        }
                    }

                    &:last-child {
                        max-width: 125px;
                        width: 100%;
                        @media screen and(max-width: 988px) {
                            max-width: 150px;
                        }
                    }
                }

                .link {
                    @include font('IBM Plex Sans', $secondaryColor, 14px);
                    border-bottom: 1px $secondaryColor solid;

                    margin: {
                        top: 20px;
                        bottom: 45px;
                        right: 0;
                        left: 0;
                    }
                }
                
            }
        }
        .btnContainer{
            display: flex;
            
            width: 100%;
            @media screen and (max-width: 768px){
                justify-content: center;
            }

        .btn {
            border: none;
            color: #FFFFFF;
            background-color: #1C62CD;
            font-size: 14px;
            height: 50px;

            padding: {
                top: 0px;
                bottom: 0px;
                right: 50px;
                left: 50px;
            }

            @media screen and (max-width: 768px) {
                
                max-width: 400px;
                width: 100%;
                font-size: 18px;
                
            }
        }
    }

    .btnContainerMobile{
        display: none;
        width: 100%;

        @media screen and(max-width: 480px) {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 40px;
            transform: translateX(50%);
        }

        .btnMobile{
            @media screen and(max-width: 480px) {
                border: none;
            color: #FFFFFF;
            background-color: #1C62CD;
                max-width: 400px;
                width: 100%;
                font-size: 18px;
                height: 50px;
            }
        }
    }
    }


    .tableContainer {
        margin-top: 82px;
        display: flex;
        flex-direction: column;


        .nav {
            background-color: #F0F0F4;

            @media screen and (max-width:768px){
                background-color: #FFFFFF;
            }



            .list {
                display: flex;
                justify-content: space-between;
                position: relative;

                padding: {
                    top: 0px;
                    bottom: 0px;
                    right: 34px;
                    left: 34px;
                }

                @media screen and(max-width: 768px){
                    flex-direction: column;
                    padding: 0;
                }



                .item {
                    padding: {
                        top: 23px;
                        bottom: 23px;
                        right: 0px;
                        left: 0px;
                    }

                    .link {
                        padding-bottom: 5px;
                        border-bottom: 2px transparent solid;
                        @include font('IBM Plex Sans', $colorTitle, 20px);

                        @media screen and (max-width:933px){
                            font-size: 18px;
                        }

                        @media screen and (max-width:768px){
                            font-size: 26px;
                        }
                    }
                }

            }


        }

        .delivery {
            padding-left: 39px;

            @media screen and(max-width: 768px){
                padding: 0;
            }

            .inputsContainer {
                margin-top: 50px;
                margin-bottom: 50px;
                display: flex;
                @media screen and (max-width:768px){
                    flex-direction: column;
                }

                .inputSearchShopContainer {
                    display: flex;
                    align-items: center;
                    margin-right: 155px;
                    max-width: 395px;
                    width: 100%;

                    @media screen and(max-width: 1015px) {
                        margin-right: 70px;
                    }

                    @media screen and (max-width:768px){
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    


                    .inputSearchLabel {
                        margin-right: 17px;
                        @include font('IBM Plex Sans', $colorTitle, 17px);
                        font-weight: 400;

                        @media screen and (max-width:768px){
                            font-size: 20px;
                        }
                    }

                    .inputSearchShop {
                        border: none;
                        background-color: #F0F0F4;
                        padding-left: 17px;
                        padding-right: 9px;
                        caret-color: $colorText;
                        position: relative;
                        width: 100%;
                        height: 33px;
                        background-image: url('../../assets//img/Product/searchIcon.svg');
                        background-repeat: no-repeat;
                        background-position: 96% center;
                    }
                }

                .radioBtns {
                    display: flex;
                    align-items: center;

                    @media screen and(max-width: 886px){
                        justify-content: space-between;
                    }

                    @media screen and (max-width:768px){
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .radioBtnToday {
                        margin-right: 54px;
                        display: flex;
                        align-items: center;
                        position: relative;

                        
                        

                        @media screen and(max-width: 930px){
                            margin-right: 10px;
                        }

                        @media screen and (max-width:768px){
                            width: 100%;
                            margin-right: 0;
                        }



                        .inputRadioBtnToday {
                            margin-right: 15px;

                            @media screen and (max-width:768px){
                                margin-right: 0;
                                position: absolute;
                                right: 0;
                            }
                        }

                        .labelRadioBtnToday {
                            @include font('IBM Plex Sans', $colorTitle, 17px);
                            font-weight: 400;


                            @media screen and(max-width: 885px){
                                font-size: 16px;
                            }

                            @media screen and (max-width:768px){
                                font-size: 22px;
                            }
                        }


                    }

                    .radioBtnLater {
                        margin-right: 54px;
                        display: flex;
                        align-items: center;
                        position: relative;

                        @media screen and (max-width:768px){
                            width: 100%;
                            margin-right: 0;
                        }

                        .inputRadioBtnLater {
                            margin-right: 15px;
                            @media screen and (max-width:768px){
                                margin-right: 0;
                                position: absolute;
                                right: 0;
                            }
                            
                        }

                        .laberRadioBtnLater {
                            @include font('IBM Plex Sans', $colorTitle, 17px);
                            font-weight: 400;

                            @media screen and(max-width: 885px){
                                font-size: 16px;
                            }

                            @media screen and (max-width:768px){
                                font-size: 22px;
                            }
                        }
                    }


                }
            }

            .table {
                // border-collapse: separate;
                margin-top: 50px;



                .tableHead {
                    @include font('IBM Plex Sans', $colorTitle, 20px);

                    .headRow {
                        // padding-bottom: 41px;


                        .headCell {
                            text-align: left;
                            // padding-bottom: 41px;
                        }
                    }
                }

                .tableBody {
                    @include font('IBM Plex Sans', $colorTitle, 16px);
                }
            }

        }
    }

}


