@import '../../sass/abstracts/vars';
@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/functions';


.product {
    $product: &;
    display: flex;
    flex-direction: column;
    border: 2px black solid;

    .breadCrumbsContainer {
        margin-bottom: 17px;

        .breadCrumb {
            @include font('IBM Plex Sans', #C4C4C4, 15px);
        }
    }

    .describtion {
        display: flex;


        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 116px;
            position: relative;

            padding: {
                top: 64px;
                bottom: 0px;
                right: 0px;
                left: 0px;
            }

            ;


            .imgContainer {


                .sticker {
                    position: absolute;
                    top: 0;
                    left: 0;

                    padding: {
                        top: 13px;
                        bottom: 13px;
                        right: 26px;
                        left: 26px;
                    }

                    ;
                    background-color: $secondaryColor;
                    border-radius: 3px;
                    letter-spacing: 2px;
                    @include font('IBM Plex Sans', #FFFFFF, 15px);
                }
            }

            .purchase {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 17px;

                .priceOld {
                    @include font('Barlow', #000000, 30px);
                    position: relative;

                    &::before {
                        content: '';
                        background-color: #2F3035;
                        width: 140px;
                        height: 2px;
                        position: absolute;
                        top: 20px;
                        left: 10px;
                        transform: rotate(390grad);

                    }
                }

                .priceDiscount {
                    @include font('Roboto', $colorTitle, 40px);

                    margin: {
                        top: 6px;
                        bottom: 17px;
                        right: 0;
                        left: 0;
                    }
                }

                .link {
                    @include font('IBM Plex Sans', $secondaryColor, 15px);
                }
            }
        }

        .information {
            display: flex;
            flex-direction: column;

            .title {
                @include font('IBM Plex Sans', $colorTitle, 30px);
                font-weight: 700;
                line-height: 35.8px;
                max-width: 570px;
                width: 100%;
            }

            .productCode {
                display: flex;

                margin: {
                    top: 10px;
                    bottom: 22px;
                    right: 0;
                    left: 0;
                }

                ;

                .code {
                    margin-right: 8px;
                    @include font('IBM Plex Sans', $colorText, 15px);
                }

                .codeNumber {
                    @include font('IBM Plex Sans', $colorText, 15px);
                }
            }

            .buttons {
                margin-bottom: 50px;

                .btnsList {
                    display: flex;
                    align-items: center;

                    .listItem {
                        margin-right: 30px;

                        .like {
                            background-color: transparent;
                            border: none;
                        }

                        .raiting {
                            background-color: transparent;
                            border: none;
                        }
                    }
                }
            }


        }

        .characteristics {
            display: flex;
            flex-direction: column;

            .linksWrapper {
                margin: {
                    top: 0px;
                    bottom: 20px;
                    right: 0;
                    left: 0;
                }

                ;

                .list {
                    display: flex;

                    .item {
                        font-size: 20px;
                        margin-right: 34px;
                        @include font('IBM Plex Sans', #FFFFFF, 20px);
                        font-weight: 400;

                        &:last-child {
                            margin-right: 0;
                        }

                        .link {
                            font-size: 20px;

                            &:hover {
                                font-weight: 700;
                                transition: 0.2s;
                            }



                            &:active {
                                font-weight: 700;
                                border-bottom: 2px $secondaryColor solid;
                                color: $colorTitle;
                            }
                        }
                    }
                }

            }

            .rows {
                display: flex;
                flex-direction: column;
                align-items: flex-start;


                .item {
                    @include font('IBM Plex Sans', $colorTitle, 20px);
                    font-weight: 400;

                    padding: {
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                    }

                    margin: {
                        top: 0px;
                        bottom: 0px;
                        right: 0;
                        left: 0;
                    }

                    ;

                    &:first-child {
                        max-width: 281px;
                        width: 100%;
                        margin-right: 30px;
                    }

                    &:last-child {
                        max-width: 125px;
                        width: 100%;
                    }
                }

                .link {
                    @include font('IBM Plex Sans', $secondaryColor, 14px);
                    border-bottom: 1px $secondaryColor solid;

                    margin: {
                        top: 20px;
                        bottom: 45px;
                        right: 0;
                        left: 0;
                    }
                }

                .btn {
                    border: none;
                    color: #FFFFFF;
                    background-color: #1C62CD;
                    font-size: 14px;
                    height: 50px;

                    padding: {
                        top: 0px;
                        bottom: 0px;
                        right: 50px;
                        left: 50px;
                    }
                }
            }
        }
    }


    .tableContainer {
        margin-top: 82px;
        display: flex;
        flex-direction: column;

        .nav {
            background-color: #F0F0F4;



            .list {
                display: flex;
                justify-content: space-between;
                position: relative;


                .item {
                    padding: {
                        top: 23px;
                        bottom: 23px;
                        right: 34px;
                        left: 38px;
                    }

                    .link {
                        padding-bottom: 5px;
                        border-bottom: 2px transparent solid;
                        color: #2F3035;
                        @include font('IBM Plex Sans', $colorTitle, 20px);

                        &:hover {
                            border-bottom: 2px #1C62CD solid;

                        }
                    }
                }

            }
        }

        .delivery {
            padding-left: 39px;

            .inputsContainer {
                margin-top: 50px;
                display: flex;

                .inputSearchShopContainer {
                    display: flex;
                    margin-right: 155px;

                    .inputSearchLabel {

                        margin-right: 17px;
                        @include font('IBM Plex Sans', $colorTitle, 17px);
                        font-weight: 400;
                    }

                    .inputSearchShop {
                        border: none;
                        background-color: #F0F0F4;
                        padding-left: 17px;
                        caret-color: $colorText;
                        position: relative;


                        &::after {
                            content: '';
                            background-image: url('../../assets//img/Product/searchIcon.svg');
                            position: absolute;
                            top: 0;
                            left: 0;

                        }
                    }
                }

                .radioBtns {
                    display: flex;
                    align-items: center;

                    .radioBtnToday {
                        margin-right: 54px;
                        display: flex;
                        align-items: center;

                        .inputRadioBtnToday {
                            margin-right: 15px;
                        }


                    }


                }
            }

            .table {
                // border-collapse: separate;
                margin-top: 50px;



                .tableHead {
                    @include font('IBM Plex Sans', $colorTitle, 20px);

                    .headRow {
                        // padding-bottom: 41px;


                        .headCell {
                            text-align: left;
                            // padding-bottom: 41px;
                        }
                    }
                }

                .tableBody{
                    @include font('IBM Plex Sans', $colorTitle, 16px);
                }
            }

        }
    }

}