#expand-btn {
    margin: 40px 0 20px 0;
    display: inline-block;
    padding: 3px 6px;
    background-color: transparent;
    cursor: default;
    border-radius: 3px;
}
.lab {
    border: 1px solid red;
    width: 100%;
}
.arrowTop {
    margin-right: 10px;
}
#isexpanded:checked ~ #expand-btn > .arrowTop {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

#isexpanded, #expandable {
    display: none;
}

#isexpanded:checked ~ #expandable {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#wrapFlex {
    border: 1px solid red;
}


