@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/vars';

.headerMenuItems {
  @include flex (space-between, baseline);
  background-color: $secondaryBg;
  @media screen and (max-width: 980px) {
    display: none;
}
}
.headerMenuItem {
  transition: border 0.2s;
  padding: 15px 0;
  border-bottom: 3px solid rgba(240, 240, 244, 1);
  &:hover {
    border-bottom: 3px solid rgba(28, 98, 205, 1);
  }
  &:last-child {
    margin-right: 0;
  }
}
.headerMenuLink {
  @include font ('IBM Plex Sans', $colorTitle, 20px);
  font-weight: 400;
}



