@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/vars';
.headerLogo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 980px) {
    display: none;
}
}
.headerNav {
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: relative;
  padding: 50px 0;
  &Items {
    display: flex;
    @media screen and (max-width: 980px) {
      display: none;
  }
  }
  &Item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &Link {
    color: black;
    @include font ('IBM Plex Sans', $colorTitle, 20px);
    font-weight: 700;
  }
}
.headerMap {
  display: flex;
  align-items: center;
  margin-right: 90px;
  @media screen and (max-width: 980px) {
    display: none;
}
  &Text {
    @include font ('IBM Plex Sans', $colorTitle, 20px);
    font-weight: 700;
    margin-left: 5px;
  }
}
.headerPersonalWrap {
  display: flex;
  align-items: center;
}
.headerPersonal {
  display: flex;
  align-items: center;
  &Icon {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}


// MOBILE 
.mobileLogo {
  display: none;
  font-family: 'Staatliches';
  color: $colorTitle;
  font-size: 20px;
  @media screen and (max-width: 980px) {
    display: block;
}
}
