@import '../sass/abstracts/vars';
@import '../sass/basis/fonts';
@import '../sass/abstracts/mixins';

.footer {
  $footer: &;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F4;
  padding-bottom: 22px;

  .top {
    margin: 0 auto; 
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    

    

    padding: {
      top: 43px;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }
    @media screen and(max-width: 1200px) {
      padding: {
        top: 43px;
        bottom: 0px;
        left: 20px;
        right: 20px;
      }
    }

    @media screen and(max-width: 768px){
          flex-direction: column;
    }

    .subscribeForm {
      display: flex;
      align-self: start;
      flex-direction: column;

      

      padding: {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0;
      }

      margin: {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 176px;
      }

      @media screen and(max-width: 1200px){
        margin-right: 100px;
      }

      @media screen and(max-width: 910px){
        margin-right: 20px;
      }

      @media screen and(max-width: 768px){
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-right: 0;
      }


      .title {
        @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 700;
        line-height: 16.71px;
        max-width: 223px;
        width: 100%;

        padding: {
          top: 0;
          bottom: 0;
          right: 0px;
          left: 0;
        }

        margin: {
          top: 0;
          bottom: 34px;
          right: 0;
          left: 0;
        }
      }

      .inputEmail {
        display: flex;
        align-items: center;

        .input {
          border: none;
          font-size: 14px;
          min-height: 33px;
          text-indent: 12px;

          padding: {
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
          }
        }

        .btn {
          border: none;
          @include font('IBM Plex Sans', $colorText, 11px);
          line-height: 13px;
          background-color: $secondaryColor;
          align-self: start;
          min-height: 33px;

          padding: {
            top: 0px;
            bottom: 0px;
            right: 16px;
            left: 16px;
          }
        }
      }

    }


    .lists {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      @media screen and(max-width: 1200px){
        width: 100%;
      }

      @media screen and(max-width: 480px){
        flex-direction: column;
      }

      .content{
        display: flex;
        align-items: center;
        margin-bottom: 46px;
        @media screen and(max-width: 1200px){
          justify-content: space-between;
        }

        @media screen and(max-width: 480px){
          flex-direction: column;
          
        }

      .informationMenu {
        align-self: start;
        margin-right: 100px;

        @media screen and(max-width: 1200px){
          margin-right: 0px;
        }

        

        .title {
          margin-bottom: 8px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 700;
        }
        .list{

        .item {
          margin-bottom: 5px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 400;



          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      }

      .onlineRetailMenu {
        align-self: start;
        margin-right: 107px;

        @media screen and(max-width: 1200px){
          margin-right: 0px;
        }

        .title {
          margin-bottom: 8px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
          font-weight: 700;
        }

        .list{

        .item {
          margin-bottom: 5px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 400;

          &:last-child {
            margin-bottom: 0;
          }

        }
      }
      }
      .socialMenu {
        margin-right: 0px;
  
        &__list {
  
          display: flex;
          align-self: center;
  
          &Item {
            
            margin: {
              top: 0px;
              bottom: 0px;
              right: 30px;
              left: 0px;
            }
  
  
  
            &:last-child {
              margin-right: 0;
            }

            @media screen and(max-width: 1200px){
              margin-right: 10px;
            }

            @media screen and(max-width: 768px){
              margin-right: 20px;
            }
          }
        }

        
  
      }
    }
    .documents{
      display: flex;
      .link{
        @include font('IBM Plex Sans', $colorTitle, 10px);
        font-weight: 400;

        &:last-child{
          margin-left: 81px;

          @media screen and(max-width: 480px){
            margin-left: 0;
          }
        }
      }

      @media screen and(max-width: 1020px){
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      @media screen and(max-width: 480px){
        flex-direction: column;
        position: relative;
      }

    }
    }


    






  }
}
