@import '../sass/abstracts/vars';
@import '../sass/basis/fonts';
@import '../sass/abstracts/mixins';

.footer {
  $footer: &;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F4;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding: {
      top: 43px;
      bottom: 0px;
      left: 375px;
      right: 375px;
    }

    .subscribeForm {
      display: flex;
      align-self: start;
      flex-direction: column;

      padding: {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }

      margin: {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 159px;
      }

      .title {
        @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 700;
        line-height: 16.71px;
        max-width: 223px;
        width: 100%;

        padding: {
          top: 0;
          bottom: 0;
          right: 0px;
          left: 0;
        }

        margin: {
          top: 0;
          bottom: 34px;
          right: 0;
          left: 0;
        }
      }

      .inputEmail {
        display: flex;
        align-items: center;

        .input {
          border: none;
          font-size: 14px;
          min-height: 33px;
          text-indent: 12px;

          padding: {
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
          }
        }

        .btn {
          border: none;
          background-color: $secondaryColor;
          color: $colorText;
          font-size: 11px;
          align-self: start;
          min-height: 33px;

          padding: {
            top: 0px;
            bottom: 0px;
            right: 16px;
            left: 16px;
          }
        }
      }

    }


    .lists {
      display: flex;
      margin-right: 100px;

      .informationMenu {
        margin-right: 100px;

        

        .title {
          margin-bottom: 8px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 700;
        }
        .list{

        .item {
          margin-bottom: 5px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 400;



          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      }

      .onlineRetailMenu {
        margin-right: 0px;

        .title {
          margin-bottom: 8px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
          font-weight: 700;
        }

        .list{

        .item {
          margin-bottom: 5px;
          @include font('IBM Plex Sans', $colorTitle, 14px);
        font-weight: 400;

          &:last-child {
            margin-bottom: 0;
          }

        }
      }
      }
    }


    .socialMenu {

      &__list {

        display: flex;
        align-self: center;

        &Item {
          
          margin: {
            top: 0px;
            bottom: 0px;
            right: 30px;
            left: 0px;
          }



          &:last-child {
            margin-right: 0;
          }
        }
      }

    }






  }

  .bottom {
    margin-top: 46px;
    margin-bottom: 27px;
    .wrapper{
      display: flex;
      transform: translateX(835px);
      .link{
        @include font('IBM Plex Sans', #2F3035, 10px);

      &:first-child{
        margin-right: 81px;
      }
    }
    }
  }




}
